<html>

<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="master.css">


  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Employee', 'Amount delivered'],
          ['Fry',     <%= fryPay %>],
          ['Amy',      <%= amyPay %>],
          ['Bender',  <%= benderPay %>],
          ['Leela', <%= leelaPay %>]
        ]);

        var options = {
          title: 'Amount Delivered'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div class="title">Planet Express</div>
    <h1>Total money we made this week: $<%=total_income%> </h1>
    <div class="flexbox">
      <div class="ShipTable">
        <table>
          <th>Shipments</th>
          <% shipment.each do |shipment| %>
          <tr>
            <td><%= shipment %></td>
          </tr>
          <% end %>
        </table>
      </div>

  <div class="Log">
    <table>
      <tr>
      <th>
        Employees
      </th>
      <th>
        Number of trips
      </th>
      <th>
        Bonus
      </th>
    </tr>
    <tr>
      <td>Fry</td>
      <td><%=rFry%></td>
      <td>$<%=fryBonus%></td>
    </tr>
    <tr>
    <td>Amy</td>
    <td><%=rAmy%></td>
    <td>$<%=amyBonus%></td>
    </tr>
    <tr>
      <td>Bender</td>
      <td><%=rBender%></td>
      <td>$<%=benderBonus%></td>
    </tr>
    <tr>
      <td>Leela</td>
      <td><%=rLeela%></td>
      <td>$<%=leelaBonus%></td>
    </tr>

    </table>

  </div>
</div>
<div class="flexbox1">


      <div id="piechart" style="width: 50%; height: 500px; background-color: black;"></div>
      <div class="gif">

        <img src="http://66.media.tumblr.com/tumblr_lssh0xZp751r0ovojo1_400.gif" alt="futuramagif" width="128" height="128">

      </div>
    </div>
<div class="text">How i feel after finishing this project</div>
    </body>
  </html>
